*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tracker{
    height:40px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main{
    width:700px;
    height:500px;
    margin:100px auto;  
    background-color: bisque;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
main div{
    width:400px;
    margin: 10px auto;
    
}
.btn-grid{
    display:grid;
    padding:10px;
}
#question-container{
    background-color: cadetblue;
}
#question{
    background-color: crimson;
    padding:20px;
}
.btn{
    padding:20px;
    margin:5px;

}
.control{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.control h2, 
.control p, 
.control button{
    padding: 20px;
}
#start-btn{
    width:200px;
    height:100px;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.hide{
    display:none;
}